<ion-header></ion-header>
<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-list>
    <ion-list-header>Transactions</ion-list-header>
    <ion-item-sliding *ngFor="let transaction of transactions">
      <ion-item>
        <h2>{{ transaction.description }}</h2>
        <p>{{ transaction.time | date:'short':'':'de' }}</p>
        <ion-badge item-end [color]="transaction.value >= 0 ? 'secondary' : 'danger'" *ngIf="transaction.currency !== 'EUR'">
          {{ transaction.value * exchangeRates[transaction.currency] | currency:transaction.currency:'symbol':'1.2-2' }}
        </ion-badge>
        <span item-end *ngIf="transaction.currency !== 'EUR'">=</span>
        <ion-badge item-end [color]="transaction.value >= 0 ? 'secondary' : 'danger'">
          {{ transaction.value | currency:'EUR':'symbol':'1.2-2' }}
        </ion-badge>
      </ion-item>
      <ion-item-options side="right">
          <button ion-button icon-only color="danger" (click)="deleteTransaction(transaction)">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </ion-item-options>
    </ion-item-sliding>
    <ion-item>
      <h2>Saldo</h2>
      <ion-badge item-end [color]="saldo >= 0 ? 'secondary' : 'danger'">{{ saldo | currency:'EUR':'symbol':'1.2-2' }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer padding>
  <ion-list>
    <ion-item>
      <ion-label>Currency</ion-label>
      <ion-select [(ngModel)]="currency" multiple="false">
        <ion-option value="EUR" selected="true">Euro</ion-option>
        <ion-option value="USD">US-Dollar</ion-option>
        <ion-option value="GBP">British Pound</ion-option>
        <ion-option value="JPY">Yen</ion-option>
        <ion-option value="CHF">Swiss Francs</ion-option>
        <ion-option value="PHP">Philippine Peso</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Amount</ion-label>
      <ion-input type="number" name="amount" required [ngModel]="amount" (ionChange)="transform($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text" name="description" required [(ngModel)]="description"></ion-input>
    </ion-item>
  </ion-list>

  <button class="new-transaction" ion-button icon-only large (click)="createTransaction()">
    <ion-icon name="add-circle"></ion-icon>
  </button>
</ion-footer>